/* checkbox */
/* checkbox_small */
.checkbox_small {
  position: relative;
  appearance: none;
  width: 16px;
  height: 16px;
  border: 2px solid var(--color-line-solid-strong);
  border-radius: var(--radius-2);
  background: var(--color-common-100);
  cursor: pointer;
}

.checkbox_small:checked {
  border-color: var(--color-blue-50);
  background: var(--color-blue-50);
}

.checkbox_small:checked::after {
  position: absolute;
  inset: 1px;
  background: var(--color-common-100);
  content: "";
  mask: url("data:image/svg+xml,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M10.41%2017.854C10.0707%2017.854%209.73138%2017.7409%209.50516%2017.4016L4.3021%2012.1985C3.73654%2011.633%203.73654%2010.8412%204.3021%2010.2757C4.86765%209.71009%205.65942%209.71009%206.22497%2010.2757L10.41%2014.4607L17.8753%206.99545C18.4408%206.4299%2019.2326%206.4299%2019.7981%206.99545C20.3637%207.561%2020.3637%208.35277%2019.7981%208.91832L11.428%2017.2885C11.0887%2017.7409%2010.7493%2017.854%2010.41%2017.854Z%22%20fill%3D%22%23000000%22%2F%3E%3C%2Fsvg%3E") center / contain no-repeat;
  -webkit-mask: url("data:image/svg+xml,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M10.41%2017.854C10.0707%2017.854%209.73138%2017.7409%209.50516%2017.4016L4.3021%2012.1985C3.73654%2011.633%203.73654%2010.8412%204.3021%2010.2757C4.86765%209.71009%205.65942%209.71009%206.22497%2010.2757L10.41%2014.4607L17.8753%206.99545C18.4408%206.4299%2019.2326%206.4299%2019.7981%206.99545C20.3637%207.561%2020.3637%208.35277%2019.7981%208.91832L11.428%2017.2885C11.0887%2017.7409%2010.7493%2017.854%2010.41%2017.854Z%22%20fill%3D%22%23000000%22%2F%3E%3C%2Fsvg%3E") center / contain no-repeat;
}

/* checkbox_disabled_small */
.checkbox_disabled_small {
  position: relative;
  appearance: none;
  width: 16px;
  height: 16px;
  border: 2px solid var(--color-line-solid-normal);
  border-radius: var(--radius-2);
  background: var(--color-interaction-disable);
  cursor: default;
}

/* checkbox_medium */
.checkbox_medium {
  position: relative;
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid var(--color-line-solid-strong);
  border-radius: var(--radius-2);
  background: var(--color-common-100);
  cursor: pointer;
}

.checkbox_medium:checked {
  border-color: var(--color-blue-50);
  background: var(--color-blue-50);
}

.checkbox_medium:checked::after {
  position: absolute;
  inset: 1px;
  background: var(--color-common-100);
  content: "";
  mask: url("data:image/svg+xml,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M10.41%2017.854C10.0707%2017.854%209.73138%2017.7409%209.50516%2017.4016L4.3021%2012.1985C3.73654%2011.633%203.73654%2010.8412%204.3021%2010.2757C4.86765%209.71009%205.65942%209.71009%206.22497%2010.2757L10.41%2014.4607L17.8753%206.99545C18.4408%206.4299%2019.2326%206.4299%2019.7981%206.99545C20.3637%207.561%2020.3637%208.35277%2019.7981%208.91832L11.428%2017.2885C11.0887%2017.7409%2010.7493%2017.854%2010.41%2017.854Z%22%20fill%3D%22%23000000%22%2F%3E%3C%2Fsvg%3E") center / contain no-repeat;
  -webkit-mask: url("data:image/svg+xml,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M10.41%2017.854C10.0707%2017.854%209.73138%2017.7409%209.50516%2017.4016L4.3021%2012.1985C3.73654%2011.633%203.73654%2010.8412%204.3021%2010.2757C4.86765%209.71009%205.65942%209.71009%206.22497%2010.2757L10.41%2014.4607L17.8753%206.99545C18.4408%206.4299%2019.2326%206.4299%2019.7981%206.99545C20.3637%207.561%2020.3637%208.35277%2019.7981%208.91832L11.428%2017.2885C11.0887%2017.7409%2010.7493%2017.854%2010.41%2017.854Z%22%20fill%3D%22%23000000%22%2F%3E%3C%2Fsvg%3E") center / contain no-repeat;
}

/* checkbox_disabled_medium */
.checkbox_disabled_medium {
  position: relative;
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid var(--color-line-solid-normal);
  border-radius: var(--radius-2);
  background: var(--color-interaction-disable);
  cursor: default;
}

