/* textarea */
/* textarea filled */
textarea[class^="textarea_filled"] {
  display: block;
  width: 100%;
  resize: vertical;
  outline: 0;
  border: 0;
  border-radius: var(--radius-0);
  background-color: var(--color-fill-normal);
  color: var(--color-label-normal);
  cursor: text;
}

textarea[class^="textarea_filled"]::placeholder {
  color: var(--color-label-assistive);
}

textarea[class^="textarea_filled"][class*="_small"] {
  min-height: 96px;
  padding: 12px 12px;
  font-size: var(--font-size-14);
  line-height: var(--line-height-20);
}

textarea[class^="textarea_filled"][class*="_medium"] {
  min-height: 112px;
  padding: 12px 16px;
  font-size: var(--font-size-15);
  line-height: var(--line-height-20);
}

textarea[class^="textarea_filled"][class*="_large"] {
  min-height: 128px;
  padding: 12px 16px;
  font-size: var(--font-size-16);
  line-height: var(--line-height-24);
}

textarea[class^="textarea_filled"][class*="_rounded"] {
  border-radius: var(--radius-8);
}

textarea[class^="textarea_filled"][class*="_focus_"] {
  background-color: var(--color-fill-strong);
}

textarea[class^="textarea_filled"][class*="_error_"] {
  background-color: var(--color-red-95);
}

textarea[class^="textarea_filled"][class*="_disabled_"] {
  background-color: var(--color-interaction-disable);
  color: var(--color-label-disable);
  cursor: default;
}

textarea[class^="textarea_filled"][class*="_view_"] {
  background-color: var(--color-background-normal-alternative);
  color: var(--color-label-neutral);
}

/* textarea_outline_small */
.textarea_outline_small {
  display: block;
  width: 100%;
  resize: vertical;
  outline: 0;
  min-height: 96px;
  padding: 12px 12px;
  border: 1px solid var(--color-line-solid-0);
  border-radius: var(--radius-8);
  background: var(--color-common-100);
  color: var(--color-label-normal);
  font-size: var(--font-size-14);
  line-height: var(--line-height-20);
}

.textarea_outline_small::placeholder {
  color: var(--color-label-assistive);
}

/* textarea_outline_medium */
.textarea_outline_medium {
  display: block;
  width: 100%;
  resize: vertical;
  outline: 0;
  min-height: 112px;
  padding: 12px 16px;
  border: 1px solid var(--color-line-solid-0);
  border-radius: var(--radius-8);
  background: var(--color-common-100);
  color: var(--color-label-normal);
  font-size: var(--font-size-15);
  line-height: var(--line-height-20);
}

.textarea_outline_medium::placeholder {
  color: var(--color-label-assistive);
}

/* textarea_outline_large */
.textarea_outline_large {
  display: block;
  width: 100%;
  resize: vertical;
  outline: 0;
  min-height: 128px;
  padding: 12px 16px;
  border: 1px solid var(--color-line-solid-0);
  border-radius: var(--radius-8);
  background: var(--color-common-100);
  color: var(--color-label-normal);
  font-size: var(--font-size-16);
  line-height: var(--line-height-24);
}

.textarea_outline_large::placeholder {
  color: var(--color-label-assistive);
}

/* textarea_outline_focus_small */
.textarea_outline_focus_small {
  display: block;
  width: 100%;
  resize: vertical;
  outline: 0;
  min-height: 96px;
  padding: 12px 12px;
  border: 2px solid var(--color-blue-50);
  border-radius: var(--radius-8);
  background: var(--color-common-100);
  color: var(--color-label-normal);
  font-size: var(--font-size-14);
  line-height: var(--line-height-20);
}

.textarea_outline_focus_small::placeholder {
  color: var(--color-label-assistive);
}

/* textarea_outline_focus_medium */
.textarea_outline_focus_medium {
  display: block;
  width: 100%;
  resize: vertical;
  outline: 0;
  min-height: 112px;
  padding: 12px 16px;
  border: 2px solid var(--color-blue-50);
  border-radius: var(--radius-8);
  background: var(--color-common-100);
  color: var(--color-label-normal);
  font-size: var(--font-size-15);
  line-height: var(--line-height-20);
}

.textarea_outline_focus_medium::placeholder {
  color: var(--color-label-assistive);
}

/* textarea_outline_focus_large */
.textarea_outline_focus_large {
  display: block;
  width: 100%;
  resize: vertical;
  outline: 0;
  min-height: 128px;
  padding: 12px 16px;
  border: 2px solid var(--color-blue-50);
  border-radius: var(--radius-8);
  background: var(--color-common-100);
  color: var(--color-label-normal);
  font-size: var(--font-size-16);
  line-height: var(--line-height-24);
}

.textarea_outline_focus_large::placeholder {
  color: var(--color-label-assistive);
}

/* textarea_outline_error_small */
.textarea_outline_error_small {
  display: block;
  width: 100%;
  resize: vertical;
  outline: 0;
  min-height: 96px;
  padding: 12px 12px;
  border: 2px solid var(--color-status-negative);
  border-radius: var(--radius-8);
  background: var(--color-common-100);
  color: var(--color-label-normal);
  font-size: var(--font-size-14);
  line-height: var(--line-height-20);
}

.textarea_outline_error_small::placeholder {
  color: var(--color-label-assistive);
}

/* textarea_outline_error_medium */
.textarea_outline_error_medium {
  display: block;
  width: 100%;
  resize: vertical;
  outline: 0;
  min-height: 112px;
  padding: 12px 16px;
  border: 2px solid var(--color-status-negative);
  border-radius: var(--radius-8);
  background: var(--color-common-100);
  color: var(--color-label-normal);
  font-size: var(--font-size-15);
  line-height: var(--line-height-20);
}

.textarea_outline_error_medium::placeholder {
  color: var(--color-label-assistive);
}

/* textarea_outline_error_large */
.textarea_outline_error_large {
  display: block;
  width: 100%;
  resize: vertical;
  outline: 0;
  min-height: 128px;
  padding: 12px 16px;
  border: 2px solid var(--color-status-negative);
  border-radius: var(--radius-8);
  background: var(--color-common-100);
  color: var(--color-label-normal);
  font-size: var(--font-size-16);
  line-height: var(--line-height-24);
}

.textarea_outline_error_large::placeholder {
  color: var(--color-label-assistive);
}

/* textarea_outline_disabled_small */
.textarea_outline_disabled_small {
  display: block;
  width: 100%;
  resize: vertical;
  outline: 0;
  min-height: 96px;
  padding: 12px 12px;
  border: 1px solid var(--color-line-solid-normal);
  border-radius: var(--radius-8);
  background: var(--color-interaction-disable);
  color: var(--color-label-disable);
  font-size: var(--font-size-14);
  line-height: var(--line-height-20);
  cursor: default;
}

.textarea_outline_disabled_small::placeholder {
  color: var(--color-label-assistive);
}

/* textarea_outline_disabled_medium */
.textarea_outline_disabled_medium {
  display: block;
  width: 100%;
  resize: vertical;
  outline: 0;
  min-height: 112px;
  padding: 12px 16px;
  border: 1px solid var(--color-line-solid-normal);
  border-radius: var(--radius-8);
  background: var(--color-interaction-disable);
  color: var(--color-label-disable);
  font-size: var(--font-size-15);
  line-height: var(--line-height-20);
  cursor: default;
}

.textarea_outline_disabled_medium::placeholder {
  color: var(--color-label-assistive);
}

/* textarea_outline_disabled_large */
.textarea_outline_disabled_large {
  display: block;
  width: 100%;
  resize: vertical;
  outline: 0;
  min-height: 128px;
  padding: 12px 16px;
  border: 1px solid var(--color-line-solid-normal);
  border-radius: var(--radius-8);
  background: var(--color-interaction-disable);
  color: var(--color-label-disable);
  font-size: var(--font-size-16);
  line-height: var(--line-height-24);
  cursor: default;
}

.textarea_outline_disabled_large::placeholder {
  color: var(--color-label-assistive);
}

/* textarea_outline_view_small */
.textarea_outline_view_small {
  display: block;
  width: 100%;
  resize: vertical;
  outline: 0;
  min-height: 96px;
  padding: 12px 12px;
  border: 1px solid var(--color-line-solid-normal);
  border-radius: var(--radius-8);
  background: var(--color-background-normal-alternative);
  color: var(--color-label-neutral);
  font-size: var(--font-size-14);
  line-height: var(--line-height-20);
}

.textarea_outline_view_small::placeholder {
  color: var(--color-label-assistive);
}

/* textarea_outline_view_medium */
.textarea_outline_view_medium {
  display: block;
  width: 100%;
  resize: vertical;
  outline: 0;
  min-height: 112px;
  padding: 12px 16px;
  border: 1px solid var(--color-line-solid-normal);
  border-radius: var(--radius-8);
  background: var(--color-background-normal-alternative);
  color: var(--color-label-neutral);
  font-size: var(--font-size-15);
  line-height: var(--line-height-20);
}

.textarea_outline_view_medium::placeholder {
  color: var(--color-label-assistive);
}

/* textarea_outline_view_large */
.textarea_outline_view_large {
  display: block;
  width: 100%;
  resize: vertical;
  outline: 0;
  min-height: 128px;
  padding: 12px 16px;
  border: 1px solid var(--color-line-solid-normal);
  border-radius: var(--radius-8);
  background: var(--color-background-normal-alternative);
  color: var(--color-label-neutral);
  font-size: var(--font-size-16);
  line-height: var(--line-height-24);
}

.textarea_outline_view_large::placeholder {
  color: var(--color-label-assistive);
}


/* textarea outline variants */
textarea[class^="textarea_outline"] {
  display: block;
  width: 100%;
  resize: vertical;
  outline: 0;
  border: 1px solid var(--color-line-solid-0);
  border-radius: var(--radius-0);
  background: var(--color-common-100);
  color: var(--color-label-normal);
}

textarea[class^="textarea_outline"]::placeholder {
  color: var(--color-label-assistive);
}

textarea[class^="textarea_outline"][class*="_small"] {
  min-height: 96px;
  padding: 12px 12px;
  font-size: var(--font-size-14);
  line-height: var(--line-height-20);
}

textarea[class^="textarea_outline"][class*="_medium"] {
  min-height: 112px;
  padding: 12px 16px;
  font-size: var(--font-size-15);
  line-height: var(--line-height-20);
}

textarea[class^="textarea_outline"][class*="_large"] {
  min-height: 128px;
  padding: 12px 16px;
  font-size: var(--font-size-16);
  line-height: var(--line-height-24);
}

textarea[class^="textarea_outline_rounded"] {
  border-radius: var(--radius-8);
}


textarea[class^="textarea_outline"][class*="_focus_"] {
  border: 2px solid var(--color-blue-50);
}

textarea[class^="textarea_outline"][class*="_error_"] {
  border: 2px solid var(--color-status-negative);
}

textarea[class^="textarea_outline"][class*="_disabled_"] {
  border-color: var(--color-line-solid-normal);
  background: var(--color-interaction-disable);
  color: var(--color-label-disable);
  cursor: default;
}

textarea[class^="textarea_outline"][class*="_view_"] {
  border-color: var(--color-line-solid-normal);
  background: var(--color-background-normal-alternative);
  color: var(--color-label-neutral);
}
