:root {

  /* ARTSKOREALAB: Yellow */
  --color-artskorealab-yellow-0: #000000;
  --color-artskorealab-yellow-10: #333300;
  --color-artskorealab-yellow-20: #666600;
  --color-artskorealab-yellow-30: #999900;
  --color-artskorealab-yellow-40: #CCCC00;
  --color-artskorealab-yellow-50: #FFFF00;
  --color-artskorealab-yellow-60: #FFFF33;
  --color-artskorealab-yellow-70: #FFFF66;
  --color-artskorealab-yellow-80: #FFFF99;
  --color-artskorealab-yellow-90: #FFFFCC;
  --color-artskorealab-yellow-100: #FFFFFF;

  /* ARTSKOREALAB: Cyan */
  --color-artskorealab-cyan-0: #000000;
  --color-artskorealab-cyan-10: #00292A;
  --color-artskorealab-cyan-20: #005255;
  --color-artskorealab-cyan-30: #007C7F;
  --color-artskorealab-cyan-40: #00A5AA;
  --color-artskorealab-cyan-50: #00CED4;
  --color-artskorealab-cyan-60: #33D8DD;
  --color-artskorealab-cyan-70: #66E2E5;
  --color-artskorealab-cyan-80: #99EBEE;
  --color-artskorealab-cyan-90: #CCF5F6;
  --color-artskorealab-cyan-100: #FFFFFF;

  /* ARTSKOREALAB: Purple */
  --color-artskorealab-purple-0: #000000;
  --color-artskorealab-purple-10: #2A1D33;
  --color-artskorealab-purple-20: #543A66;
  --color-artskorealab-purple-30: #7F5699;
  --color-artskorealab-purple-40: #A973CC;
  --color-artskorealab-purple-50: #D390FF;
  --color-artskorealab-purple-60: #DCA6FF;
  --color-artskorealab-purple-70: #E5BCFF;
  --color-artskorealab-purple-80: #EDD3FF;
  --color-artskorealab-purple-90: #F6E9FF;
  --color-artskorealab-purple-100: #FFFFFF;

  /* VirtualDream: Red */
  --color-virtualdream-red-0: #000000;
  --color-virtualdream-red-10: #2A0707;
  --color-virtualdream-red-20: #540E0E;
  --color-virtualdream-red-30: #7F1515;
  --color-virtualdream-red-40: #A91A1A;
  --color-virtualdream-red-50: #D31C1C;
  --color-virtualdream-red-60: #DC4747;
  --color-virtualdream-red-70: #E57373;
  --color-virtualdream-red-80: #EE9E9E;
  --color-virtualdream-red-90: #F6CACA;
  --color-virtualdream-red-100: #FFFFFF;
}
